*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none !important;
}

body{
    background: #000;
}

header{
    padding: 25px 60px;
}

@media screen and (max-width: 760px ){
    header{
        padding: 0px;
    }
}

.site-wrapper{
    background-image: url('./images/bg-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 760px ){
    .site-wrapper{
        background-image: url('./images/bg-1.png') no-repeat center;
        max-width: 100%;
    }
}

.navbar{
    border-radius: 8px;
}

@media screen and (max-width: 760px ){
    .navbar{
        border-radius: 0px;
    }
}

.navbar-nav .nav-item .nav-link{
    color: white;
    font-size: 14px;
    font-weight: 200;
    margin: 0px 10px;
}

.navbar-nav .nav-item .nav-link:hover{
    border-bottom: 1px solid #7E371B;
    border-bottom-color: #7E371B;
    color: #eb6029;
}


@media screen and (max-width: 760px ){
    .navbar-nav-scroll{
        /* height: 75vh !important; */
    }
    .navbar-nav .nav-item{
        line-height: 2rem;
    }
}


.navbar .container-fluid{
    padding: 0px 80px;
}

.mobile-menu{
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 4px;
}


@media screen and (max-width: 760px ){
    .navbar .container-fluid{
        padding: 0px 10px;
    }
}

.right-link{
    justify-content: space-between;
    align-items: center;
    margin: 2px 10px;
}

.right-link a{
    padding: 0px 14px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}

.right-link .button{
    background-color: #ff65284b;
    padding: 7px 10px;
    border-radius: 3px;
    color: #FF6628;
    font-size: 12px;
    font-weight: 300;
}

.hero-section h1{
    color: white;
    font-size: 75px;
    font-weight: 700;
    align-items: right;
}


@media screen and (max-width: 760px ) {
    .hero-section h1{
        font-size: 40px;
    }
}

.hero-section .hero-items{
    text-align: right;
    color: white;
    float: right;
    line-height: 2rem;
    padding: 5px;
}

.hero-section .hero-items p{
    font-weight: lighter;
    font-size: 15px;
    padding: 2px;
}

.hero-section .hero-items .get-started{
    color: white;

}
.hero-section .hero-items .get-started a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 300;
    background-color: #911439;
    border-radius: 3px;
}

.black-card{
    /* top: 120px; */
    /* position: relative; */
    margin-top: 50px;
    padding: 3rem !important;
}

.black-card h1{
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 25px;
}

@media screen and (max-width: 760px ){
    .black-card{
        padding: 20px !important;
        margin-bottom: 20px;
    }

    .black-card h1{
        color: white;
        padding: 30px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
}




.info-section{
    padding: 20px;
    margin-top: 40px;
    position: relative;
    height: 280px;
    border-radius: 10px;
}

.info-section .row{
    /* padding: 50px 30px; */
}
.section-items{
    display: flex;
}

.info-section .card-items{
    color: white;
    text-align: right;
}

.info-section .card-items h5{
    font-size: 14px;
    font-weight: 200;
}

.card-items span{
    font-size: 14px;
    font-weight: 200;
}
.time{
    width: 280px;
    height: 50px;
    padding: 10px 10px;
    border: none;
    color: white;
    background-color: #ffffff68;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 200;
}



.info-section .icon i{
    color: #911439;
}
.container .input-check{
    width: 380px;
    height: 50px;
    padding: 5px 20px;
    border: none;
    color: white;
    background-color: #ffffff68;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 200;
}

@media screen and (max-width: 760px ) {
    .container .input-check{
        width: 100%;
        height: 50px;
    }

    .time{
        width: 100%;
        height: 50px;
    }
}


.booking-section{
    padding: 4px 30px;
}


 .booking-button{
    width: 300px;
    height: 50px;
    background-color: #911439;
    color: white;
    border: none;
    font-weight: 400;
    display: block;
    border-radius: 5px;
    font-size: 15px;
}

@media screen and (max-width: 760px ){
    .booking-button{
        width: 100%;
    }
}
/* About Section */

.about-area{
    background-image: url('./images/bg-3.png'); 
    object-fit:cover;
    background-size: cover;
    background-position: right top, left top;
    background-repeat: no-repeat, repeat;
    padding: 80px 0px;
}
@media screen and (max-width: 760px ){
    .about-area{
        background-image: url('./images/bg-3.png'); 
        object-fit:cover;
        background-size: cover;
        background-position: right top, left top;
        background-repeat: no-repeat, repeat;
        padding: 0px 0px;
    }

}

.about-area .right-content{
    text-align: right;
}

.about-area .get-started a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 300;
    background-color: #911439;
    border-radius: 3px;
    width: 160px;
}

.about-area h1{
    color: #fff;
    padding-top: 200px;
    font-size: 45px;
    font-weight: 600;
}

@media screen and (max-width: 760px ){
    .about-area h1{
        color: #fff;
        padding-top: 20px;
        font-size: 35px;
        font-weight: 600;
    }
}

.about-area p{
    color: #fff;
    font-size: 17px;
    font-weight: 100;
}
@media screen and(max-width: 760px){
    .about-area p{
        font-size: 13px;
        font-weight: 200;
    }
}

.about-area img{
    width: 80%;
}

@media screen and (max-width: 760px){
    .about-area img{
        width: 100%;
    }
}

/*  */

.service{
    background-image: url('./images/service.png');
    height: 60vh;
}

.service .service-header{
    text-align: center;
    color: #fff;
    padding: 30px 0px;
}

.service .service-header h1{
    font-size: 5rem;
    font-weight: bold;
}

/******  Service Area CSS *******/

.service-wrapper {
    background-color: #fff;
    height: 100vh;
}

.service-wrapper a{
    text-decoration: none;
}

.service-wrapper p{
    font-weight: lighter;
    font-size: 15px;
}

@media screen and (max-width: 767px){
    .service-wrapper{
        height: 180vh;
    }
}

.service-wrapper .col{
    padding: 20px;
}

.service-wrapper .col h1{
    font-weight: bold;
}

.service-wrapper .col p{
    font-size: 18px;
}

@media screen and (max-width: 767px) {
    .service-wrapper .col p{
        
    }
}


.service-wrapper .container .view-button{
    padding: 15px 50px;
    background-color: #7E371B;
    text-decoration: none;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    font-weight: 300;
}
  
  .offer-card {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    min-height: 450px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    border: none;
  }
  @media (max-width: 768px) {
    .offer-card {
      min-height: 350px;
    }
  }
  @media (max-width: 420px) {
    .offer-card {
      min-height: 300px;
    }
  }
  .offer-card.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .offer-card.card-has-bg:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  .offer-card.card-has-bg:hover {
    transform: scale(0.98);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    background-size: 130%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .offer-card.card-has-bg:hover .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #7E371B;
    background: linear-gradient(0deg, rgba(4, 69, 114, 0.5) 0%, #044572 100%);
  }
  .offer-card .card-footer {
    background: none;
    border-top: none;
  }
  .offer-card .card-footer .media img {
    border: solid 3px rgba(255, 255, 255, 0.3);
  }
  .offer-card .card-meta {
    color: #26bd75;
  }
  .offer-card .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .offer-card:hover {
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .offer-card:hover .card-body {
    margin-top: 30px;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .offer-card .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #234f6d;
    background: linear-gradient(0deg, rgba(35, 79, 109, 0.3785889356) 0%, #455f71 100%);
  }

/***** End Service Area CSS  *********/


/******* Product Section ************/
.product-section{
    background-color: #000;
}

.product-section h1{
    color: #fff;
    font-size: 45px;
    font-weight: 600;
}

.product-header p{
    color: white;
    font-size: 15px;
    font-weight: 200;
    align-items: center;
}
.product-section .card-body{
    padding: 20px;
}
.product-section .card-text{
    font-size: 15px;
    font-weight: 300;
    width: 340px;
}

.product-section .card-body h5{
    font-size: 18px;
    font-weight: 800;
}

.card-body .card-content{
    display: flex;
    justify-content: space-between;
}

.card-body .ratings span{
    /* display: flex; */
    /* padding: 8px 0px; */
    font-size: 12px;
}

.card-body .user-description{
    font-size: 12px;
}

.card-body .book-user-button a{
    font-size: 13px;
    border-radius: 5px;
}

.card-body .book-user-button a:hover{
    background-color: #911439;
    border: 1px solid #911439;
}

.card-body .ratings i{
    color: #911439;
    font-size: 12px;
}

.product-section .browse-all{
    padding-top: 10px;
}

.product-section .view-more a{
    text-decoration: none;
    padding: 14px 27px;
    background-color: #911439;
    color: #fff;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 300;
}

/********* End Product Section **********/


/*********** Experience Section ********/
.experience{
    height: 70vh;
    background: rgb(27, 34, 42);
    padding-top: 120px;
}


.experience .experience-title{
    color: white;
    font-size: 56px;
    font-weight: bold;
    padding: 40px 0px;
    width: 100%;
}


.experience-content{
    color: #fff;
}

.experience-content h3{
    font-size: 15px;
    font-weight: bold;
}

.experience-content p{
    font-size: 15px;
    font-weight: 100;
}

/* Media Queries */

@media screen and (max-width: 760px ) {
    .experience{
        height: auto;
        padding: 0px 10px;
    }

    .experience .experience-title{
        font-size: 30px;
    }
}

/************ End Experience ***********/


/*************** Therapist  Profile **************/

.card-container {
    padding: 100px 0px;
    -webkit-perspective: 1000;
    perspective: 1000;
}


.profile-card-2 {
    max-width: 100%;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;
}



.profile-card-2 img {
    transition: all linear 0.25s;
    width: 100%;
    height: 100%;
}

.profile-card-2 .profile-name {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-size: 30px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #FFF;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #FFF;
    font-size: 13px;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons .fa {
    margin: 5px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.profile-card-2:hover img {
    filter: grayscale(100%);
}

.profile-card-2:hover .profile-name {
    bottom: 80px;
}

.profile-card-2:hover .profile-username {
    bottom: 60px;
}

.profile-card-2:hover .profile-icons {
    right: 40px;
}



/*************** End Therapist  Profile **************/


/*********** Services container **********/
.site-services {
    display: block;
    width: 100%;
    clear: both;
    position:relative;
    margin-top:-100px;
  }
  
  .site-services:before {
    content: "";
    position: absolute;
    max-width: 100%;
    width: 100%;
    display: block;
    height: 330px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom:0;
    top: -330px;
    background:url(../images/service-section-top-wave.png) no-repeat top center;
  }
  
  @media screen and (max-width: 767px) {
    .site-services {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  
  
  @media screen and (max-width: 767px) {
    .site-services h1 {
  
    }
  }
  
  .site-services .site-box {
    /* Service */
    padding: 0 0 30px 0;
    display: block;
    width: 100%;
    text-align: left;
    margin: 0 0 30px;
    max-width: 390px;
    min-height: 236px;
    background-color: white;
    box-shadow: 0 0 5px rgba(2, 3, 3, 0.1);
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 400ms ease;
    transition-property: background;
    border-radius:8px;
  }
  
  .site-services .service-image {
      display:block;
  }
  
  
  .site-services .content {
      display:block;
      padding:30px;
  }
  
  @media screen and (max-width: 767px) {
    .site-services .site-box {
      max-width: 100%;
      min-height: 10px;
    }
    
    .site-services .service-image img {
        width:100%;
    }
  }
  
  .site-services .site-box:hover {
    /* Change the color on mouse hover */
    -webkit-box-shadow: 0px 21px 69px -10px rgba(18,17,88,0.82);
  -moz-box-shadow: 0px 21px 69px -10px rgba(18,17,88,0.82);
  box-shadow: 0px 21px 69px -10px rgba(18,17,88,0.82);
  }
  
  .site-services .site-box:hover h3, .site-services .site-box:hover h3 a, .site-services .site-box:hover p {
    /*color: white;*/
  }
  
  .site-services .site-box:hover h3, .site-services .site-box:hover h3 a {
    color: #911439;
  }
  
  .site-services .site-box:hover figure {
    background: #4543d0;
  }
  
  .site-services .site-box:hover i.fa {
    color: #FFFFFF;
  }
  
  .site-services .site-box:hover .site-permalink span {
    opacity: 1;
    color: #4543d0;
  }
  
  .site-services .site-box:hover .site-permalink i {
    color: #4543d0;
    left: 100%;
    padding-left: 12px;
  
  }

  .browse-all{
    text-decoration: none;
    width: 180px;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #FF6628;
    transition: all 1ms ease-in;
    /* display: block; */
    align-items: center;
  }
  .browse-all:hover{
    background-color: #911439;
  }
  .browse-all a{
    text-decoration: none;
    color: white;
  }
  
  .site-services .site-box:before {
    /* Change the box bg counting using data attribute */
    content: attr(data-bg-number);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.06;
    color: #0a2b4a;
    font-family: inherit;
    font-size: 107px;
    font-weight: 700;
    line-height: 90px;
    text-transform: uppercase;
    z-index: -1;
    margin-left: 26px;
  }
  
  .site-services h3 {
    /* H3 heading */
    color: #000000;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: inherit;
    margin-top: 5px;
    margin-bottom: 15px;
    transition: 400ms ease;
    transition-property: color;
    letter-spacing:-1px;
    
  }
  
  .site-services h3 a {
    transition: 400ms ease;
    transition-property: color;
    text-decoration: none;
    color: #000;
  }
  
  .site-services p {
    /* Paragraph */
    color: #828282;
    font-family: inherit;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    transition: 400ms ease;
    transition-property: color;
  }
  
  .site-services figure {
    display:none;
    width: 46px;
    height: 46px;
    line-height: 54px;
    background-color: #e0e9ea;
    /*display: block;*/
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    transition: 400ms ease;
    transition-property: background;
    border-radius:6px;
  }
  
  .site-services i.fa {
    /* Font awesome icon */
    width: 22px;
    height: 14px;
    color: #4543d0;
    font-size: 20px;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
    transition: 400ms ease;
    transition-property: color;
  }
  
  .site-services .site-permalink {
    /* Permalink */
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    margin-left: 30px;
    margin-bottom: 25px;
  }
  
  .site-services .site-permalink span {
    opacity: 0;
    transition: 400ms ease;
    transition-property: opacity, color;
  }
  
  .site-services .site-permalink i {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 6px;
    font-size: 12px;
    transition: 400ms ease;
    transition-property: color, left;
  }

  /***** Playback Video Section *********/

  .video-modal{
    background-image: url('./images/bg-00.png');
    height: 100vh;
    background-repeat: no-repeat;
  }

  @media screen and (max-width: 767px) {
    .video-modal{
        background-image: url('./images/bg-00.png');
        height: 120vh;
        /* margin-bottom: -40px; */
    }
  }

  .video-modal .play-screen{
    background-image: url(./images/teams/video.png);
    height: 500px;
    width: 1000px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -420;
  }

  @media screen and (max-width: 767px) {
    .video-modal .play-screen{
        width: 100%;
    }
  }

  .play-screen .play_button{
    position: relative;
    font-size: 50px;
    width: 100px;
    height: 100px;
    justify-content: center;
    border: 5px solid #7e371b4c;
    border-radius: 50%;
  }

  .play-screen .btn-close{
    background-color: white;
  }

  .play-screen .btn-primary{
    background-color: #7E371B;
  }

  .play-screen .btn-primary:hover{
    background-color: #911439;
    border: 5px solid #FF6628;
  }

  .video-modal .bottom-content{
    padding: 100px 15px;
    color: white;
    justify-content: space-between;
  }

  .video-modal .bottom-content h1{
    font-weight: 700;
    font-size: 60px;
  }

  @media screen and (max-width: 767px) {
    .video-modal .bottom-content h1{
        font-size: 30px;
    }
  }


  .video-modal .bottom-content p{
    font-weight: lighter;
    font-size: 16px;
    width: 400px;
  }

  @media screen and (max-width: 767px){
    .video-modal .bottom-content p{
        width: 300px;
    }
  }

  

  .bottom-content .video-button{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #911439;
    color: white;
    font-size: 15px;
    font-weight: 200;
  }

  .bottom-content .video-button:hover{
    background-color: #FF6628;
    transition: all -2ms ease-out;
  }

  @media screen and (max-width: 767px){
    .selling-title{
        padding: 0px !important;
    }
  }

  /*********** End Playback Video Section *********/


  /********** Testimonial Section ********/

.testimonials{
    height: 80vh;
    background-color: #252525;
}

.testimonials .owl-carousel .card{
    height: 250px;
    width: 600px;
    margin: 200px auto;

}

@media screen and (max-width: 767px){
    .testimonials .owl-carousel .card{
        width: 330px;
    }
}


.testimonials .owl-carousel .card img{
    width: 100px;
    bottom: 50px;
    left: 240px;
    position: relative;
    border-radius: 50%;
    z-index: 9999;
}

@media screen and (max-width: 767px){
    .testimonials .owl-carousel .card img{
        width: 100px;
        bottom: 50px;
        left: 120px;
        position: relative;
        border-radius: 50%;
        z-index: 9999;
    }
}

.testimonials .card-body{
    margin-top: -40px;
    padding: 0px 20px;
}

.testimonials .card-body h5{
    font-size: 16px;
    font-weight: bold;
}

.testimonials .card-body span{
    font-size: 13px;
    font-weight: 600;
}

.testimonials .card-body p{
    text-align: center;
    margin: auto;
    padding: 15px;
    font-weight: 300;
    width: 500px;
}

@media screen and (max-width: 767px){
    .testimonials .card-body p{
        /* text-align: center; */
        margin-left: -13px;
        font-size: 13px;
    }
}

@media screen and (max-width: 767px){
    .testimonials .card-body p{
        /* text-align: center; */
        padding: none;
        /* margin: auto; */
        width: 320px;
    }
}

.testimonials .effect{
    position: absolute;
   
    width: 400px;
}

.testimonials .effect img{
    width: 170%;
    position: relative;
    top: 200px;
    left: 250px;
    z-index: 9999;
}

.testimonials .testimonials-title{
    text-align: center;
    position: relative;
    top: 60px;
}

/************* Pricing CSS Section *************/

.pricing .pricing-title{
    padding: 80px;
    text-align: center;
}

.pricing .title{
    text-align: center;
    padding: 80px;
}
@media screen and (max-width: 767px){
    .pricing .title{
        padding: 50px 0px;
    }
}
.pricing p{
    font-size: 17px;
    font-weight: 200;
    color: white;
}

@media screen and (max-width: 767px){
    .pricing p{
        font-size: 13px;
    }
}

.card{
    border: none;
}

.pricing .card{
    border: none;
}

.pricing .card .card-button{
    display: flex;
    cursor: pointer;
    transition-property: box-shadow, transform;
    transition-duration: 350ms;
    transition-timing-function: ease;

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
}

.pricing .card .card-button:is(:hover, :focus) {
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-8px);
}

.pricing .card .vip-button{
    padding: 10px 20px;
    background-color: #7E371B;
    text-align: center;
    width: 245px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pricing .card .vip-button a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-left: 40px;
}

.pricing .card .regular-button{
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #7E371B;
    text-align: center;
    width: 245px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.pricing .card .regular-button a{
    color: #7E371B;
    text-decoration: none;
    font-size: 14px;
    margin-left: 40px;
}


.pricing .card-button .icon-regular{
    padding: 10px 20px;
    text-align: center;
    background-color: #7E371B;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}
.pricing .card-button .icon{
    padding: 10px 20px;
    text-align: center;
    background-color: #7d4732;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}

.pricing .card .card-body{
    padding: 20px 50px;
    align-items: center;
    margin: auto;
}

@media screen and (max-width: 767px){
    .pricing .card .card-body{
        padding: 25px 0px;
    }
}

.pricing .card .card-body .all-benefits .benefits{
    padding: 20px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.078);
}

.pricing .card .card-body .all-benefits .benefits i{
    padding: 5px;
    background-color: #6bd09a97;
    color: #357754;
    border-radius: 50px;

}

.pricing .card .card-body p{
    color: #000;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
}

.pricing .card .vip{
    padding: 40px;
    text-align: center;
    background-color: #7E371B;
    color: white;
}
.pricing .card .regular{
    padding: 40px;
    text-align: center;
    color: #000;
}

.pricing .card .vip p{
    font-size: 13px;
}

.pricing .card .vip .amount{
    font-size: 40px;
    font-weight: 600;
}

/*********** Pricing CSS Style End ***********/


/********** Join Section CSS **************/

.join-momma{
    background-image: url('./images/background.png');
    background-position: center center;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100%;
    background-size: cover;
}
.join-momma .join-moma{
    padding: 50px 0px;
}

@media screen and (max-width: 767px){
    .join-momma .join-moma{
        padding: 20px;
        margin-top: 30px;
    }
}
.join-momma .join-moma h1{
    font-size: 40px;
    color: white;
    font-size: bold;
    padding: 10px 0px;
}

.join-momma .join-moma p{
    color: white;
    width: 500px;
    font-weight: 200;
    padding: 10px 0px;
}

@media screen and (max-width: 767px){
    .join-momma .join-moma p{
        width: 300px;
    }
}

.join-momma .join-moma button{
    width: 200px;
    height: 40px;
    color: #7E371B;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    transition-property: box-shadow, transform;
    transition-duration: 350ms;
    transition-timing-function: ease;

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
}
.join-momma .join-moma button:is(:hover, :focus) {
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-8px);
}
/************ End Join Section ************/

/********** Newsletter Section ***********/

.newsletter{
    background-color: #75AEA4;
    height: 55vh;
}

.newsletter .white-border{
    border: 10px solid white;
    padding: 50px;
    margin: 70px auto;
    width: 1000px;
    height: 300px;
    text-align: center;
}

@media screen and (max-width: 767px){
    .newsletter .white-border{
        width: 100%;
    }
}

.newsletter .white-border h1{
    color: white;
    font-size: 25px;
}

@media screen and (max-width: 767px){
    .newsletter .white-border h1{
        font-size: 18px;
    }
}

.newsletter .white-border p{
    font-size: 15px;
    font-weight: 300;
    color: white;
    padding: 10px;
}

.newsletter .white-border input{
    width: 400px;
    height: 45px;
    padding: 10px;
    background: none;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    font-weight: 100;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right-color: #7E371B;
}

@media screen and (max-width: 767px){
    .newsletter .white-border input{
        width: 100%;
        border-right-color: #fff;
        border-radius: 5px;
    }
}

.newsletter .white-border button{
    width: 170px;
    height: 45px;
    border: none;
    background-color: #7E371B;
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 15px;
    font-weight: 300;
}

@media screen and (max-width: 767px){
    .newsletter .white-border button{
        border-radius: 5px;
        margin-top: 4px;
    }
}


/************ End Newsletter  ************/

/************* Contact Section Begin  *************/
.contact-section{
    height: 100vh;
}

.contact-section .contact .image{
    position: absolute;
    z-index: 9999;
}

@media screen and (max-width: 767px){
    .contact-section .contact .image{
        display: none;
    }
}

.contact-section h1{
    position: relative;
    top: 220px;
    margin: auto;
    padding: 10px 70px;
    width: 580px;
    font-size: 50px;
    color: black;
    z-index: 9999;
}

@media screen and (max-width: 767px){
    .contact-section h1{
        color: white;
        position: relative;
        top: -60px;
        font-size: 25px;
    }
}



.contact-section .contact{
    display: flex;
    margin: 70px 0px;
}

@media screen and (max-width: 767px){
    .contact-section .contact{
        padding: 0px 10px;
    }
}

.contact-section .contact .card{
    height: 600px;
    z-index: 9999;
    box-shadow: 0px 80.6px 105.701px rgba(51, 51, 51, 0.1);
    border-radius: 20px;
    border: none;
}

@media screen and (max-width: 767px){
    .contact-section .contact .card{
        width: 353px;
    }
}

@media screen and (max-width: 767px){
    .contact-section .contact .col-md-6{
        display: none;
    }
}



.contact-section .contact .card .form-group{
    padding: 5px 0px;
}

@media screen and (max-width: 767px){
    .contact-section .contact .card .form-group{
        
    }
}

.contact-section .contact .card label{
    font-size: 13px;
    font-weight: 200;
}

.contact-section .contact .card form{
    margin: 40px 50px;
}

@media screen and (max-width: 767px){
    .contact-section .contact .card form{
        margin:  30px 20px;
    }
}

.contact-section .contact .card .form-group .text-field{
    width: 440px;
    height: 50px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    margin: auto;
    padding: 0px 20px;
    font-size: 15px;
    font-weight: 200;
}

@media screen and (max-width: 767px){
    .contact-section .contact .card .form-group .text-field{
        width: 100%;
    }
}


.contact-section .contact .card .form-group textarea{
    width: 100%;
    height: 150px;
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 200;
}

.contact-section .contact .card .checkbox{
    display: flex;
}

.contact-section .contact .card .checkbox p{
    text-align: center;
    margin: 0px 10px;
    font-size: 14px;
    font-weight: 200;
}

.contact-section .contact .card .checkbox a{
    text-decoration: none;
    color: #7E371B;
}
.contact-section .contact .card .message_button{
    height: 40px;
    width: 160px;
    color: #fff;
    background-color: #7E371B;
    border-color: #7E371B;
    border: none;
    font-size: 13px;
    font-weight: 200;
    border-radius: 5px;
    padding: 10px 0px;
}

@media screen and (max-width: 767px){
    .contact-section .contact .card .message_button{
        width: 100%;
    }
}

/*********** End Contact Section ***********/

/************ Join Moma Form  ***************/
.registration-form{
	padding: 50px 8px;
}

.registration-form form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form h3{
    color: #911439;
    font-size: 30px;
    font-weight: bold;
}

.registration-form p{
    font-size: 14px;
    font-weight: 400;
    color: dimgrey;
}

.registration-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 20px 20px;
    background: #FFFFFF;
    border-top: 1px solid #E4E4E4;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 7.5px;
    outline: none;
    font-size: 15px;
    color: rgba(128, 128, 128, 0.346);
}

.registration-form .create-account{
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #911439;
    border: none;
    color: white;
    margin-top: 20px;
}

.registration-form .social-media{
    max-width: 600px;
    background-color: #fff;
    margin: auto;
    padding: 35px 0;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #9fadca;
    border-top: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons{
    margin-top: 30px;
    margin-bottom: 16px;
}

.registration-form .social-icons a{
    font-size: 23px;
    margin: 0 3px;
    color: #5691ff;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: #fff;
    line-height: 45px;
}

.registration-form .social-icons a:hover{
    text-decoration: none;
    opacity: 0.6;
}

@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}
/*********** End Join Moma Form **************/

/************* Footer Section Begin  **********/
footer{
    height: 80px;
    background-color: #252525;
}

footer .payment_options{
    padding: 10px 0px;
}

@media screen and (max-width: 767px){
    footer .payment_options{
        padding: 10px 0px;
        display: none;
    }
}



footer .payment_options img{
    padding: 0px 15px;
    width: 100px;
}

@media screen and (max-width: 767px){
    footer .payment_options img{
        width: 40px;
    }
}

footer .copyright{
    text-align: center;
    font-size: 14px;
    padding: 15px;
}

footer .copyright a{
    color: white;
    text-decoration: none;
    font-weight: 200;
}
/*********** End Footer Section  ***********/

